// app global css in SCSS form
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.text-title {
  font-size: 30px;
}
.text-subtitle {
  font-size: 20px;
}

.card-border-radius {
  border-radius: 12px;
}

.shadow-custom-1 {
  box-shadow: 0 10px 12px #00000029;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
